<% if user_signed_in? %>
		<div class="hero-unit">
		<h1> You're in! What do you want to do? </h1>
	</div>
<% else %>
	<div class="hero-unit">
		<h1>Scheme It!
		</h1>
		<p>
			Connect. Scheme. Play!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>