<h1>About</h1>
<p>
	Welcome to Scheme-it! Here you can join with your friends and even strangers and embark on adventures of all sorts. Get scheming! 

<% 
=begin %> 

<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
is a project to teach
<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month. This is the sample application.  I plan on working on this application untill I master the fundamentals.  Then I will work on my gazillion dollar idea! Stay tuned to see what happens!

<% 
=end %>

</p>
