<div class="hero-unit">
<h1>Testing Testing...
	Welcome to my work in progress.
</h1>
<p>
	This is the home page for my one month rails course
	<%= link_to "One Month rails", "http://onemonthrails.com" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>